<footer class="py-7 border-top bg-light">
    <div class="container text-center">
        <img class="mb-4" src="assets/img/logo2.png" height="40" alt="Logo">
        <div id="footer-links">
            <a class="mx-2 text-secondary text-decoration-none fs--1" href="/sobre.html">Sobre</a>
            <a class="mx-2 text-secondary text-decoration-none fs--1" href="/privacidade.html">Privacidade</a>
            <a class="mx-2 text-secondary text-decoration-none fs--1" href="/termos.html">Termos</a>
        </div>
        <p class="text-muted fs--2 mt-4 max-w-600 mx-auto">
            Atenção: O site Como Fazer Empréstimo é um portal de conteúdo informativo. Não somos uma instituição financeira e não realizamos cobranças de taxas para liberação de crédito. Denuncie fraudes.
        </p>
        <p class="text-muted fs--2">&copy; 2026 Todos os direitos reservados.</p>
    </div>
</footer>
