<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <img src="/assets/img/logo2.png" height="50" alt="Como Fazer Empréstimo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Início</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/antecipacao-fgts.html">FGTS</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/como-conseguir-emprestimo-com-nome-sujo.html">Negativados</a></li>
                <li class="nav-item"><a class="nav-link fw-bold text-primary" href="/simulador.html">Simulador</a></li>
            </ul>
            <a href="/simulador.html" class="btn btn-warning ms-3 fw-bold">SIMULAR AGORA</a>
        </div>
    </div>
</nav>
